html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {

}

header {
  display: block;
  background-color: #d05c2e;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

nav {
  display: block;
}

nav li {
  list-style-type: none;
  display: inline;
  text-align: center;
  font-size: 1.125rem;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 4%;
}

.left {
  float: left;
}

.right {
  float: right;
}
